$midGreyColor: #f0f0f0;
$sideGreyColor: #cccccc;
$logoColor: #333333;
$darkGreyColor: #bdbdbd;
$blueColor: #0033cc;
$whiteColor: #ffffff;

$tablet-v-width: 480px;
$tablet-h-width: 780px;
$desktop-width: 1200px;
