.wrap {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../assets/images/bg.jpg);
  @include tablet-v {
    padding: 16px 0 0 0;
  }
}
